.weather_list{width: 100%;height: auto;color: #000;padding-top: .8rem;position: relative;}
.weather_list_ul{width: 100%;height: 100%;padding: .3rem .3rem;box-sizing: border-box;background: #fff;background-repeat: no-repeat;background-size: 100% 100%;overflow: scroll;-webkit-overflow-scrolling : touch;}
.weather_list_li{width: 100%;height: 1.90rem;border-radius: .1rem;background: #fff;padding: .30rem;box-sizing: border-box;margin-bottom: .30rem;box-shadow: 0 0 .2rem  #c1e7fb;}
.weather_list_ul .weather_list_li:last-child{margin-bottom: .24rem}
.weather_list_li_title{width: 100%;height: auto;overflow: hidden;}
.weather_list_li_title_line{width: .10rem;height: .32rem;background: #168ef0;display: inline-block;position: relative;top: .03rem;float: left;}
.weather_list_li_title_name{width: calc(100% - .9rem);overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: .30rem;color: #000;margin-left: .16rem;float: left;position: relative;top: -.02rem;}
.weather_list_li_detail{width: 100%;height: auto;overflow: hidden;margin-top: .4rem;}
.weather_list_li_detail span{float: left;}
.weather_list_li_name{font-size: .28rem;}
.weather_list_li_name{color: #168ef0;}
.weather_list_li_humidity{font-size: .28rem;font-weight: bold;margin-left: .30rem;width: 2.38rem;}
.weather_list_li_clouds{font-size: .28rem;}
.weather_list_li_detail span.weather_list_li_wind{font-size: .28rem;float: right;}
.weather_list_li_tomorrow span.weather_list_li_wind{font-size: .28rem;float: right;}
.weather_list_li_detail span.wind_num{float: initial;font-weight: bold;}

.weather_search{width: 100%;height: .6rem;padding: .1rem 1.3rem .1rem .3rem;box-sizing: border-box;position: absolute;top: .1rem;left: 0;}
.weather_search input{position: relative;top: 0rem;left: 0rem;width: 100%;height: .6rem;display: block;border-radius: .3rem;background: #f7f7f7;color: #333;font-size: .26rem;outline: none;border: none;padding-left: .2rem;box-sizing: border-box;float: left;}
.cancel{width: auto;height: .6rem;font-size: .28rem;line-height: .6rem;color: #141518;float: left;position: absolute;right: .3rem;}
.search_btn{width: auto;height: .6rem;font-size: .28rem;line-height: .6rem;color: #141518;float: left;position: absolute;right: 1.5rem;}